.dayContainer{
    width: 200px;
    height: 250px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0px 8px 24px 0px #00000015;
}

.dayIcon{
    height: 125px;
    width: 125px;
    margin-left: 37.5px;
}

.dayContainer p {
    font-family: Poppins;
    color: #000;    
    margin-left: 15%;
}

.dayTemprature{
    font-size: 48px;
    font-weight: 600;
    margin-top: 5%;
}

.dayDate{
    margin-top: -8%;
    font-size: 14px;
    font-weight: 400;
}
