

.weekContainer{
    height: 580px;
    margin-top: 2%;
    margin-left: 6%;
    width: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px 40px;
}